@import "/task-04-reset.css";
@font-face {
    font-family: OpenSans;
    src: url(fonts/OpenSans-B9K8.ttf);
}
@font-face {
    font-family: OpenSans-Bold;
    src: url(fonts/OpenSansBold-8wJJ.ttf);
}
@font-face {
    font-family: AdobeArabic-Regular;
    src: url(fonts/Adobe\ Arabic\ Regular.otf);
}
@font-face {
    font-family: OpenSans-Light;
    src: url(/fonts/OpenSans-Light.ttf);
}
@font-face {
    font-family: OpenSans-Semibold;
    src: url(/fonts/OpenSans-Semibold.ttf);
}
body {
    display: inline-block;
}
.header {
    display: flex;
    justify-content: space-evenly;
    padding: 60px 0px;
}
.contact {
    display: flex;
    flex-wrap: wrap;
    align-self: flex-end;
    justify-content: space-evenly;
}
.location {
    position: relative;
    width: 100%;
    text-align: center;
    border: 2px solid #ECEEF4;
    border-radius: 5px;
    padding: 10px 0px;
    margin-bottom: 20px;
    font-family: OpenSans-Semibold, AdobeArabic-Regular;
    color: #adadad;
}
.location:before, .location:after {
    content: ''; 
    position: absolute;
    left: 114px; 
    bottom: -32.5px;
    border: 22.5px solid transparent;
    border-top: 10px solid #ECEEF4;
}
.location:after {
    border-top: 10px solid white;
    bottom: -30.5px; 
}
.fa-map-marker-alt:hover .location {
    opacity: 1;
}
.fa-phone-alt, .fa-map-marker-alt, .fa-envelope{
    color: #6D6E71;
    font-size: 30px;
}
.fa-phone-alt:hover, .fa-map-marker-alt:hover, .fa-envelope:hover, .link:hover{
    color: #1FAAE2;
    cursor: pointer;
}
.logo-wrapper {
    display: inline-block;
    position: relative;
    margin-bottom: 15px;
}
.logo-text {
    position: absolute;
    top: 20%;
    left: 39%;
}
.logo-text {
    color: #3687C4;
    font-family: OpenSans, AdobeArabic-Regular;
    font-size: 41px;
}
.stroke {
    color: #ECEEF4;
    background-color: #ECEEF4;
    height: 2px;
}
.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3%;
}
.link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6D6E71;
    font-family: OpenSans-Bold, AdobeArabic-Regular;
    font-size: 13px;
    position: relative;
    padding-right: 30px;
}
.link:nth-child(6):after {
    content: url(/images/divide@1X.png);
    margin-left: 30px;
    visibility: hidden;
}
.link:after {
    content: url(/images/divide@1X.png);
    margin-left: 30px;
}
.search {
    display: flex;
    margin-left: 7%;
}
.search-text {
    min-width: 175px;
}
.fa-search {
    color: #6D6E71;
    font-size: 26px;
    margin-right: 10px;
}
.arrow-up {
    position: absolute;
    margin-right: 30px;
    bottom: 0;
    width: 0; 
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 10px solid #1FAAE2;
    opacity: 0;
}
.link:hover .arrow-up {
    opacity: 1;
    transition: 1s;
}
.title-slider-wrapper {
    position: absolute;
    top: 247px;
    left: 617px;
    width: 964px;
    height: 515px;
}
.title {
    position: relative;
    font-family: OpenSans-Bold, OpenSans-Light, AdobeArabic-Regular;
    font-size: 57px;
    color: #FFFFFF;
    z-index: 1;
}
.subtitle {
    font-family: OpenSans-Light, AdobeArabic-Regular;
    color: #FFFFFF;
    font-size: 40px;
    letter-spacing: 2px;
    padding-left: 11%;
    font-weight: normal;
}
.ampersand {
    position: absolute;
    top: 30px;
    left: 10px;
}
.slider {
    position: absolute;
    display: flex;
    bottom: 0;
    right: 0;
}
.right-slide, .left-slide, .next {
    position: relative;
    display: flex;
    justify-content: center;
}
.right-slide-bottom, .left-slide-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    height: 66px;
    width: 100%;
    opacity: 0.9;
}
.right-slide-bottom {
    background-color: #8ACA51;
    color: #FFFFFF;

}
.left-slide-bottom {
    background-color: #FEEB75;
    color: #CC9800;
}
.like {
    padding-left: 10px;
    font-size: 14px;
    font-family: OpenSans-Semibold, AdobeArabic-Regular;
    color: inherit;
}
.arrow {
    position: absolute;
    align-self: center;
}
.main {
    position: relative;
}
h3 {
    color: #6D6E71;
    font-family: OpenSans-Bold, AdobeArabic-Regular;
    font-size: 26px;
}
.main-text {
    display: flex;
    justify-content: center;
}
.about, .why {
    display: grid;
    grid-template-rows: 25% auto;
    grid-template-columns: 30% auto;
    width: 25%;
    padding: 2% 4% 7% 4%;
}
.text-about, .text-why {
    grid-column: 2 / 3;
    text-align: justify;
    color: #6D6E71;
    font-family: OpenSans-Light, AdobeArabic-Regular;
    font-size: 16px;
}
.table-lamp, .tree {
    grid-row: 1 / 3;
}
input::-webkit-input-placeholder {
    color:#6D6E71;
    font-size: 15px;
    font-family: OpenSans-Light, AdobeArabic-Regular;
}
input::-moz-placeholder {
    color:#6D6E71;
    font-size: 15px;
    font-family: OpenSans-Light, AdobeArabic-Regular;
}
input:-moz-placeholder {
    color:#6D6E71;
    font-size: 15px;
    font-family: OpenSans-Light, AdobeArabic-Regular;
}
input:-ms-input-placeholder {
    color:#6D6E71;
    font-size: 15px;
    font-family: OpenSans-Light, AdobeArabic-Regular;
}
