body {
    font-family: sans-serif;
    color: #6d768a;
}
.table-head {
    text-transform: uppercase;
}
.name {
    text-transform: capitalize;
}
.table-head, .table-body tr:nth-child(n+1) {
    background-color: #e3eaf3;
}
.table-body tr:nth-child(2n+1) {
    background-color: #f2f6fa;
}
tbody td {
    padding: 20px 10px;
}
tbody tr:hover {
    background-color: #c0c8d1;
    cursor: pointer;
}
