body {
    font-family: sans-serif;
    color: rgb(105, 105, 105);
}
.label {
    display: inline-block;
    margin: 10px 0px;
}
.password {
    display: inline-block;
    margin: 20px 0px;
}
.reset {
    margin-left: 5px;
}
textarea {
    width: 300px;
    height: 150px;
    color: rgb(155, 155, 155);
}
