.header__pull-down-menu {
  position: absolute;
  border: 1px solid white;
  border-radius: 5px;
  right: 0;
  font-size: 14px;
  background: #479bcd;
}
.pull-down-menu-item {
  padding: 5px 15px;
}
.pull-down-menu-item:first-child {
  margin-top: 5px;
}
.pull-down-menu-item:last-child {
  margin-bottom: 5px;
}
.pull-down-menu-item:hover {
  background: #0067A3;
  cursor: pointer;
}
.menu-stroke {
  margin: 5px 0px;
}
.header__pull-down-menu:before, .header__pull-down-menu:after {
  content: ''; 
  position: absolute;
  right: 40%;
  top: -18.5px;
  transform: translateX(50%);
  border: 12.5px solid transparent;
  border-bottom: 6px solid #479bcd;
}
.header__pull-down-menu:before {
  top: -19.5px;
  border-bottom: 6px solid #ffffff;
}
.board__pull-down-menu {
  position: absolute;
  right: 0;
  top: 25px;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 14px;
  background: #479bcd;
  margin-bottom: 10px;
}
