.version-1, .version-2, .version-3, .version-3::before, .version-3::after {
    width: 600px;
    height: 300px;
}
.version-1 {
    background-color: rgb(91, 151, 91);
    box-shadow: 7px 7px 0 rgba(91, 151, 91, 0.7), 14px 14px 0 rgba(91, 151, 91, 0.5);
    margin-bottom: 5%;
}
.version-2 {
    position: absolute;
    background-color: rgb(245, 183, 68);
}
.version-2:first-child {
    background-color: rgba(245, 183, 68, 0.7);
    top: 7px;
    left: 7px
}
.version-2:last-child {
    background-color: rgba(245, 183, 68, 0.5);
    top: 14px;
    left: 14px
}
.version-3 {
    position: relative;
    top: 370px;
    background-color: rgb(102, 149, 180);
}
.version-3::before {
    content: '';
    position: absolute;
    top: 7px;
    left: 7px;
    z-index: -1;
    background-color: rgb(102, 149, 180, 0.7);
}
.version-3::after {
    content: '';
    position: absolute;
    top: 14px;
    left: 14px;
    z-index: -2;
    background-color: rgb(102, 149, 180, 0.5);
}
