body {
    padding: 30px;
}
main {
    display: flex;
    flex-wrap: wrap;
}
header {
    background: lightblue;
    width: 100%;
}
section {
    background: lightgreen;
    width: calc(70% - 1rem);
}
article {
    background: white;
    margin: 0 0 1rem 0;
}
aside {
    background: pink;
    width: calc(30% - 1rem);
}
header, article, section, .module {
    padding: 1rem;
}
