@import "./styles-reset.css";
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

.main {
    display: flex;
    justify-content: space-around;
    min-height: calc(100vh - 112px);
    background: #0079BF;
    overflow: auto;
}

.main-text {
    align-self: center;
    font-size: 20px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
