@import 'task-03-reset.css';

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

.header, .footer {
    background: #0067A3;
    display: flex;
    justify-content: space-between;
}

.header {
    padding: 5px 0px;
}

.footer {
    padding: 17px 20px 17px 60px;
}

.left-header, .right-header {
    display: flex;
    align-items: center;
}

.right-header {
    justify-content: flex-end;
}

.burger-menu {
    width: 46px;
    height: 46px;
    margin: 0px 10px;
}

.burger-menu:hover, .button-new-list:hover, .profile-button:hover {
    cursor: pointer;
}

.title {
    font-size: 28px;
}

.button-new-list {
    background: #FFFFFF;
    border-radius: 5px;
    padding: 5px 20px 5px 10px;
    margin-right: 50px;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    display: flex;
}

.add-icon {
    width: 22px;
    height: 22px;
    margin-right: 10px;
}

.profile-button {
    display: flex;
    align-items: center;
}

.profile-logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #FFFFFF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profile-logo {
    width: 26px;
    height: 33px;
}

.arrow-down {
    width: 12px;
    height: 7.5px;
    margin: 0px 5px;
}

.arrow-up {
    transform: rotate(180deg);
}

.left-footer {
    display: flex;
    justify-content: space-between;
    width: 30%
}

.text-footer {
    display: inline-block;
    font-size: 18px;
}

.main {
    height: calc(100vh - 112px);
    background: #0079BF;
    position: relative;
}

.pull-down-menu {
    position: absolute;
    border: 1px solid white;
    border-radius: 5px;
    right: 0;
    font-size: 14px;
    background: #479bcd;
}

.menu-item {
    padding: 5px 15px;
}

.menu-item:first-child {
    margin-top: 5px;
}

.menu-item:last-child {
    margin-bottom: 5px;
}

.menu-item:hover {
    background: #0067A3;
    cursor: pointer;
}

.menu-stroke {
    margin: 5px 0px;
}

.pull-down-menu:before, .pull-down-menu:after {
    content: ''; 
    position: absolute;
    right: 40%;
    top: -19.5px;
    transform: translateX(50%);
    border: 12.5px solid transparent;
    border-bottom: 6px solid  #FFFFFF;
}

.pull-down-menu:before {
    top: -18.5px;
    border-bottom: 6px solid  #479bcd;
    z-index: 1;
}
